<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <div class="navbar-nav ml-auto">
        <% if (user) { %>
        <a class='nav-item nav-link'> Hi <%= user.email %>!</a>
          <form method="POST" class="form-inline" action="/logout">
            <div class="form-group">
              <button type='submit' class='btn btn-primary'>Logout</button>
            </div>
          </form>
        <% } else { %>
          <form method="POST" class="form-inline" action="/login">     
            <div class="form-group">
              <input name='username' placeholder="username" class='form-control' type='text'/>
              <button type='submit' class='btn btn-primary'>Login</button>
            </div>  
          </form>
        <% } %>
      </div>
    </div>
  </nav>
</header>